:root {
  font-family: "Kedebideri";
  line-height: 1.5;
  font-weight: 400;
  min-height: 100dvh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color: #213547;
  --background-color: #ffffff;
  overflow: hidden;
}

.kedebideri-regular {
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kedebideri-medium {
  font-family: "Kedebideri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kedebideri-semibold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kedebideri-bold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kedebideri-extrabold {
  font-family: "Kedebideri", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kedebideri-black {
  font-family: "Kedebideri", sans-serif;
  font-weight: 900;
  font-style: normal;
}


[data-theme="dark"] {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  background-color: var(--background-color);
}